#log-container > span{
    font-size: large;
    font-weight: 800;
}

#log{
    background-color: lightgray;

    /* Fixed Height */
    height: 50vh;
    overflow-y: auto;

    /* Inverted Scroll */
    display: flex;
    flex-direction: column-reverse;
}